 {% extends 'base.html' %}
  {% block content %}
    <div class="container-xxl p-4">
      
      <h2>Purchase {{ car.title }}</h2>
      <img src="{{car.image.url }}" alt="{{car.title }}" style="max-width: 400px;"><br>
      <p class="pt-2">Brand: {{car.brand}}</p>
    {% if error_message %}
      <p>{{ error_message }}</p>
    {% endif %}
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Purchase</button>
    </form>
    </div>
  {% endblock %}

  